#tBodyDisciplinas {
     display: block;
     max-height: 250px;
     overflow-y: scroll;
}

tr {
     display: table;
     width: 100%;
}

.disciplina {
    position: absolute;
    width: 100%;
    height: 100vh;
}

img {
     display: table;
     width: 100%;
     height: 100vh;
     background-position: 30% 45%;
     background-size: cover;
     position: absolute;
     opacity: 0.05;
 }